.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5vw;
}

.icon {
  font-size: 32px;
  height: auto;
  width: auto;
}

h1 {
  display: flex;
  align-items: center;
}
