<div
  cdkDropList
  cdkDropListGroup
  cdkDropListOrientation="horizontal"
  class="boards"
  (cdkDropListDropped)="boardDrop($event)"
>
  <mat-card class="outer-card" cdkDrag *ngFor="let board of boards">
    <mat-card-header>
      <mat-icon cdkDragHandle class="handle">drag_indicator</mat-icon>
      <mat-card-title>
        {{ board?.title }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ board?.id }}
      </mat-card-subtitle>
    </mat-card-header>

    <div
      class="tasks"
      cdkDropList
      cdkDropListOrientation="vertical"
      (cdkDropListDropped)="taskDrop($event, board)"
      (cdkDropListExited)="saveExitedBoard(board)"
    >
      <div
        class="inner-card"
        cdkDrag
        *ngFor="let task of board?.tasks; let i = index"
        (click)="openTaskDialog(task, i, board)"
      >
        <mat-card [ngClass]="task.label || 'gray'">
          {{ task.description }}
        </mat-card>
      </div>
      <button
        mat-stroked-button
        (click)="openTaskDialog(undefined, undefined, board)"
      >
        <mat-icon>add</mat-icon>
      </button>
      <app-delete-button
        (delete)="handleBoardDelete(board)"
      ></app-delete-button>
    </div>
  </mat-card>

  <div class="board-button">
    <button
      mat-raised-button
      color="accent"
      cdkDragDisabled
      (click)="openBoardDialog()"
    >
      New Board
    </button>
  </div>
</div>
