<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="false"
  >
    <mat-toolbar class="mat-toolbar">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="drawer.close()">Home</a>
      <a mat-list-item routerLink="/kanban" (click)="drawer.close()">
        Kanban Board
      </a>
      <a mat-list-item routerLink="/login" (click)="drawer.close()">
        <span *ngIf="angularFireAuth.user | async; else showLogin">
          Profile
        </span>
        <ng-template #showLogin>Login</ng-template>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="mat-toolbar mat-primary">
      <button
        mat-icon-button
        type="button"
        aria-label="Toggle Sidenav"
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Sidenav Toggle Icon">menu</mat-icon>
      </button>

      <span class="logo" routerLink="/">Kanban 看板</span>
      <span class="fill-space"></span>

      <div *ngIf="(isHandset$ | async) === false">
        <a mat-button routerLink="/kanban">Kanban Board</a>
        <a
          mat-button
          routerLink="/login"
          *ngIf="angularFireAuth.user | async as user; else showLogin"
        >
          <fa-icon class="avatar" [icon]="['fas', 'circle-user']"></fa-icon>
          Profile
        </a>
        <ng-template #showLogin>
          <a mat-button routerLink="/login">Login</a>
        </ng-template>
      </div>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item href="https://marcoforster.ch">
          <fa-icon class="icon" [icon]="['fas', 'window-maximize']"></fa-icon>
          Visit my Homepage
        </a>
        <a mat-menu-item href="https://github.com/Beomar97/kanban">
          <fa-icon class="icon" [icon]="['fab', 'github']"></fa-icon> Code on
          GitHub
        </a>
        <a mat-menu-item href="https://fireship.io/courses/angular">
          <fa-icon class="icon" [icon]="['fas', 'fire-flame-curved']"></fa-icon>
          Based on the Course on Fireship
        </a>
      </mat-menu>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
