<div>
  <div *ngIf="isLogin">
    <h1>Sign In</h1>
    <button mat-stroked-button (click)="changeFormType('signup')">
      New to Kanban 看板? Sign up.
    </button>
  </div>
  <div *ngIf="isSignup">
    <h1>Sign Up</h1>
    <button mat-stroked-button (click)="changeFormType('login')">
      Already have an account? Sign in.
    </button>
  </div>
  <div *ngIf="isReset">
    <h1>Reset Password</h1>
    <button mat-stroked-button (click)="changeFormType('login')">Back</button>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field [color]="email.valid && 'accent'">
      <input
        matInput
        formControlName="email"
        type="email"
        placeholder="Email"
        autocomplete="off"
      />

      <mat-error *ngIf="email.invalid && email.dirty">
        You must enter a valid email address
      </mat-error>
    </mat-form-field>

    <mat-form-field [color]="password.valid && 'accent'" *ngIf="!isReset">
      <input
        matInput
        formControlName="password"
        type="password"
        placeholder="Password"
        autocomplete="off"
      />

      <mat-error *ngIf="password.invalid && password.dirty">
        Password must be at least 6 characters long
      </mat-error>
    </mat-form-field>

    <button
      mat-button
      *ngIf="isLogin && !isReset"
      (click)="changeFormType('reset')"
    >
      Forgot password?
    </button>

    <mat-form-field
      [color]="passwordDoesMatch ? 'accent' : 'warn'"
      *ngIf="isSignup"
    >
      <input
        matInput
        formControlName="passwordConfirm"
        type="password"
        placeholder="Confirm password"
        autocomplete="off"
      />

      <mat-error *ngIf="passwordConfirm.dirty && !passwordDoesMatch">
        Password does not match
      </mat-error>
    </mat-form-field>

    <mat-error class="server-error">{{ serverMessage }}</mat-error>

    <button
      *ngIf="!isReset"
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="form.invalid || !passwordDoesMatch || loading"
    >
      Submit
    </button>

    <button
      *ngIf="isReset"
      mat-stroked-button
      type="submit"
      [disabled]="loading"
    >
      Send Reset Email
    </button>
  </form>
</div>
