.boards {
  width: auto;
  padding: 24px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #f5f5f5;
    border: 2px solid #555;
  }

  .handle {
    position: relative;
    top: 5px;
    left: 0;
    cursor: move;
  }
}

.outer-card.cdk-drag-placeholder {
  opacity: 0.2;
  width: 350px;
  border: 5px dashed gray;
  margin: 0 10px;
}

.inner-card.cdk-drag-placeholder {
  opacity: 0.5;
}

.cdk-drag-animating {
  transition: transform 300ms ease;
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 300ms ease;
}

.board-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px gray dashed;
  width: 300px;
  padding: 32px;
  height: 350px;
}

.outer-card {
  margin: 10px;
  min-width: 300px;
  max-width: 300px;
  padding: 10px;
  background: whitesmoke;
}

.inner-card {
  margin: 5px 0;
  cursor: pointer;
}

.blue {
  background: #71deff;
  color: black;
}

.green {
  background: #36e9b6;
  color: black;
}

.yellow {
  background: #ffcf44;
  color: black;
}

.purple {
  background: #b15cff;
}

.red {
  background: #e74a4a;
}

.gray {
  background: gray;
  text-decoration: line-through;
}
